@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

html, body {
	height: 100%;
	font-family: 'Lato', sans-serif !important;
	//background: url(../images/bg-login.jpg) center center fixed;
	background-size: cover;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a, a:hover{text-decoration: none !important;}

.header{
	float: left;
	width: 100%;
	text-align: center;
	color: #fff;
}


.main{
	float: left;
	width: 100%;
	text-align: center;
}

.main p{
	color: #000;
}

.main form input{
	float: left;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
        font-size: 34px;
        text-align: center;
        border-color: #4fb2f0;
}

.camponome{
    float: left;
	width: 100%;
	padding: 22px;
	border-radius: 5px;
	margin-bottom: 10px;
        font-size: 25px;
        text-align: center;
        border-color: #4fb2f0;
}

.main form button{
	float: left;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: #4fb2f0;
	color: #fff;
}

.main form button:hover{
	opacity: 0.9;
}

.botaopesquisar{
    float: left;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: #4fb2f0;
	color: #fff;
}